/* html elements */
body{
margin-top: 0;
margin-left:0;

text-align:center;





}
h1{

    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    color: #27E1C1;
    
}

h2{

    font-family: "Montserrat", sans-serif;
    color: #0EA293;
}

h3{

    font-family: "Montserrat", sans-serif;

}

p{

    font-family: "Montserrat", sans-serif;

}

.my-image {

    width:150px;
    height:150px;
    text-align: center;
    border-radius: 50%;

}

.top-container{
    margin-top: 0;

    padding-top:50px;
    padding-bottom: 50px;

    background-color: #F5F3C1;

    padding:10px 10px 10px 10px;



}

.middle-container{
margin-top: 20px;

margin-bottom:20px;

line-height: 1.5;

padding-bottom: 50px;


}

.bottom-container{

    background-color: #F5F3C1;

   

}